<div class="container mt-4">
  <h1>Search Recipes</h1>
  <%= form_tag root_path, method: :get, class: 'mb-4' do %>
    <div class="row">
      <div class="col-md-4 mb-3">
        <%= label_tag :cuisine, 'Cuisine' %>
        <%= text_field_tag :cuisine, params[:cuisine], class: 'form-control' %>
      </div>
      <div class="col-md-4 mb-3">
        <%= label_tag :ingredient, 'Ingredient' %>
        <%= text_field_tag :ingredient, params[:ingredient], class: 'form-control' %>
      </div>
      <div class="col-md-4 mt-4">
        <%= submit_tag 'Search', class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  <% end %>

  <% if @recipes.any? %>
    <h1>Matched Recipes</h1>
   
    <div class="row mt-4">
      <% @recipes.each do |recipe| %>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.name %></h5>
              <p class="card-text">Instructions: <%= recipe.instructions %></p>
              <p class="card-text">Cooking Time: <%= recipe.cooking_time %> min</p>
              <p class="card-text">Ingredients: <%= recipe.reload.ingredients.map(&:name).join(', ') %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No recipes found</p>
  <% end %>
</div>
